PruebaFT_Cliente_V1.1/web/WEB-INF/wsdl/localhost_8080/PruebaFT_V.1.1/ServicioCRUD.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ServicioCRUD">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/PruebaFT_V.1.1/ServicioCRUD?xsd=1"/>
</xsd:schema>
</types>
<message name="read">
<part name="parameters" element="tns:read"/>
</message>
<message name="readResponse">
<part name="parameters" element="tns:readResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="listarPaises">
<part name="parameters" element="tns:listarPaises"/>
</message>
<message name="listarPaisesResponse">
<part name="parameters" element="tns:listarPaisesResponse"/>
</message>
<message name="buscar">
<part name="parameters" element="tns:buscar"/>
</message>
<message name="buscarResponse">
<part name="parameters" element="tns:buscarResponse"/>
</message>
<message name="listarID">
<part name="parameters" element="tns:listarID"/>
</message>
<message name="listarIDResponse">
<part name="parameters" element="tns:listarIDResponse"/>
</message>
<message name="deleteEstudiante">
<part name="parameters" element="tns:deleteEstudiante"/>
</message>
<message name="deleteEstudianteResponse">
<part name="parameters" element="tns:deleteEstudianteResponse"/>
</message>
<message name="updateEstudiante">
<part name="parameters" element="tns:updateEstudiante"/>
</message>
<message name="updateEstudianteResponse">
<part name="parameters" element="tns:updateEstudianteResponse"/>
</message>
<portType name="ServicioCRUD">
<operation name="read">
<input wsam:Action="http://Servicios/ServicioCRUD/readRequest" message="tns:read"/>
<output wsam:Action="http://Servicios/ServicioCRUD/readResponse" message="tns:readResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://Servicios/ServicioCRUD/createRequest" message="tns:create"/>
<output wsam:Action="http://Servicios/ServicioCRUD/createResponse" message="tns:createResponse"/>
</operation>
<operation name="listarPaises">
<input wsam:Action="http://Servicios/ServicioCRUD/listarPaisesRequest" message="tns:listarPaises"/>
<output wsam:Action="http://Servicios/ServicioCRUD/listarPaisesResponse" message="tns:listarPaisesResponse"/>
</operation>
<operation name="buscar">
<input wsam:Action="http://Servicios/ServicioCRUD/buscarRequest" message="tns:buscar"/>
<output wsam:Action="http://Servicios/ServicioCRUD/buscarResponse" message="tns:buscarResponse"/>
</operation>
<operation name="listarID">
<input wsam:Action="http://Servicios/ServicioCRUD/listarIDRequest" message="tns:listarID"/>
<output wsam:Action="http://Servicios/ServicioCRUD/listarIDResponse" message="tns:listarIDResponse"/>
</operation>
<operation name="deleteEstudiante">
<input wsam:Action="http://Servicios/ServicioCRUD/deleteEstudianteRequest" message="tns:deleteEstudiante"/>
<output wsam:Action="http://Servicios/ServicioCRUD/deleteEstudianteResponse" message="tns:deleteEstudianteResponse"/>
</operation>
<operation name="updateEstudiante">
<input wsam:Action="http://Servicios/ServicioCRUD/updateEstudianteRequest" message="tns:updateEstudiante"/>
<output wsam:Action="http://Servicios/ServicioCRUD/updateEstudianteResponse" message="tns:updateEstudianteResponse"/>
</operation>
</portType>
<binding name="ServicioCRUDPortBinding" type="tns:ServicioCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="read">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPaises">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioCRUD">
<port name="ServicioCRUDPort" binding="tns:ServicioCRUDPortBinding">
<soap:address location="http://localhost:8080/PruebaFT_V.1.1/ServicioCRUD"/>
</port>
</service>
</definitions>