PruebaFT_Cliente_V1.1/web/WEB-INF/wsdl/localhost_8080/PruebaFT_V.1.1/ServicioAsignarMateria.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ServicioAsignarMateria">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/PruebaFT_V.1.1/ServicioAsignarMateria?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteAsignarMateria">
<part name="parameters" element="tns:deleteAsignarMateria"/>
</message>
<message name="deleteAsignarMateriaResponse">
<part name="parameters" element="tns:deleteAsignarMateriaResponse"/>
</message>
<message name="readXestudiante">
<part name="parameters" element="tns:readXestudiante"/>
</message>
<message name="readXestudianteResponse">
<part name="parameters" element="tns:readXestudianteResponse"/>
</message>
<message name="readXasignatura">
<part name="parameters" element="tns:readXasignatura"/>
</message>
<message name="readXasignaturaResponse">
<part name="parameters" element="tns:readXasignaturaResponse"/>
</message>
<message name="CreateAsignarMateria">
<part name="parameters" element="tns:CreateAsignarMateria"/>
</message>
<message name="CreateAsignarMateriaResponse">
<part name="parameters" element="tns:CreateAsignarMateriaResponse"/>
</message>
<portType name="ServicioAsignarMateria">
<operation name="deleteAsignarMateria">
<input wsam:Action="http://Servicios/ServicioAsignarMateria/deleteAsignarMateriaRequest" message="tns:deleteAsignarMateria"/>
<output wsam:Action="http://Servicios/ServicioAsignarMateria/deleteAsignarMateriaResponse" message="tns:deleteAsignarMateriaResponse"/>
</operation>
<operation name="readXestudiante">
<input wsam:Action="http://Servicios/ServicioAsignarMateria/readXestudianteRequest" message="tns:readXestudiante"/>
<output wsam:Action="http://Servicios/ServicioAsignarMateria/readXestudianteResponse" message="tns:readXestudianteResponse"/>
</operation>
<operation name="readXasignatura">
<input wsam:Action="http://Servicios/ServicioAsignarMateria/readXasignaturaRequest" message="tns:readXasignatura"/>
<output wsam:Action="http://Servicios/ServicioAsignarMateria/readXasignaturaResponse" message="tns:readXasignaturaResponse"/>
</operation>
<operation name="CreateAsignarMateria">
<input wsam:Action="http://Servicios/ServicioAsignarMateria/CreateAsignarMateriaRequest" message="tns:CreateAsignarMateria"/>
<output wsam:Action="http://Servicios/ServicioAsignarMateria/CreateAsignarMateriaResponse" message="tns:CreateAsignarMateriaResponse"/>
</operation>
</portType>
<binding name="ServicioAsignarMateriaPortBinding" type="tns:ServicioAsignarMateria">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteAsignarMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readXestudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readXasignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateAsignarMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioAsignarMateria">
<port name="ServicioAsignarMateriaPort" binding="tns:ServicioAsignarMateriaPortBinding">
<soap:address location="http://localhost:8080/PruebaFT_V.1.1/ServicioAsignarMateria"/>
</port>
</service>
</definitions>