PruebaFT_Cliente_V1.1/src/conf/xml-resources/web-service-references/ServicioAsignaturaCRUD/wsdl/localhost_8080/PruebaFT_V.1.1/ServicioAsignaturaCRUD.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ServicioAsignaturaCRUD">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/PruebaFT_V.1.1/ServicioAsignaturaCRUD?xsd=1"/>
</xsd:schema>
</types>
<message name="listarAsignatura">
<part name="parameters" element="tns:listarAsignatura"/>
</message>
<message name="listarAsignaturaResponse">
<part name="parameters" element="tns:listarAsignaturaResponse"/>
</message>
<message name="createAsignatura">
<part name="parameters" element="tns:createAsignatura"/>
</message>
<message name="createAsignaturaResponse">
<part name="parameters" element="tns:createAsignaturaResponse"/>
</message>
<message name="buscarAsignatura">
<part name="parameters" element="tns:buscarAsignatura"/>
</message>
<message name="buscarAsignaturaResponse">
<part name="parameters" element="tns:buscarAsignaturaResponse"/>
</message>
<message name="deleteAsignatura">
<part name="parameters" element="tns:deleteAsignatura"/>
</message>
<message name="deleteAsignaturaResponse">
<part name="parameters" element="tns:deleteAsignaturaResponse"/>
</message>
<message name="readAsignatura">
<part name="parameters" element="tns:readAsignatura"/>
</message>
<message name="readAsignaturaResponse">
<part name="parameters" element="tns:readAsignaturaResponse"/>
</message>
<message name="updateAsignatura">
<part name="parameters" element="tns:updateAsignatura"/>
</message>
<message name="updateAsignaturaResponse">
<part name="parameters" element="tns:updateAsignaturaResponse"/>
</message>
<portType name="ServicioAsignaturaCRUD">
<operation name="listarAsignatura">
<input wsam:Action="http://Servicios/ServicioAsignaturaCRUD/listarAsignaturaRequest" message="tns:listarAsignatura"/>
<output wsam:Action="http://Servicios/ServicioAsignaturaCRUD/listarAsignaturaResponse" message="tns:listarAsignaturaResponse"/>
</operation>
<operation name="createAsignatura">
<input wsam:Action="http://Servicios/ServicioAsignaturaCRUD/createAsignaturaRequest" message="tns:createAsignatura"/>
<output wsam:Action="http://Servicios/ServicioAsignaturaCRUD/createAsignaturaResponse" message="tns:createAsignaturaResponse"/>
</operation>
<operation name="buscarAsignatura">
<input wsam:Action="http://Servicios/ServicioAsignaturaCRUD/buscarAsignaturaRequest" message="tns:buscarAsignatura"/>
<output wsam:Action="http://Servicios/ServicioAsignaturaCRUD/buscarAsignaturaResponse" message="tns:buscarAsignaturaResponse"/>
</operation>
<operation name="deleteAsignatura">
<input wsam:Action="http://Servicios/ServicioAsignaturaCRUD/deleteAsignaturaRequest" message="tns:deleteAsignatura"/>
<output wsam:Action="http://Servicios/ServicioAsignaturaCRUD/deleteAsignaturaResponse" message="tns:deleteAsignaturaResponse"/>
</operation>
<operation name="readAsignatura">
<input wsam:Action="http://Servicios/ServicioAsignaturaCRUD/readAsignaturaRequest" message="tns:readAsignatura"/>
<output wsam:Action="http://Servicios/ServicioAsignaturaCRUD/readAsignaturaResponse" message="tns:readAsignaturaResponse"/>
</operation>
<operation name="updateAsignatura">
<input wsam:Action="http://Servicios/ServicioAsignaturaCRUD/updateAsignaturaRequest" message="tns:updateAsignatura"/>
<output wsam:Action="http://Servicios/ServicioAsignaturaCRUD/updateAsignaturaResponse" message="tns:updateAsignaturaResponse"/>
</operation>
</portType>
<binding name="ServicioAsignaturaCRUDPortBinding" type="tns:ServicioAsignaturaCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAsignatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioAsignaturaCRUD">
<port name="ServicioAsignaturaCRUDPort" binding="tns:ServicioAsignaturaCRUDPortBinding">
<soap:address location="http://localhost:8080/PruebaFT_V.1.1/ServicioAsignaturaCRUD"/>
</port>
</service>
</definitions>